*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}

body{
    background: #dfdfde;
}

body.dark{
    background: #000000;
}

span{
    font-weight: bold;
}

a{
    color: black;
    transition: .2s;
    text-decoration: underline;
}

a:hover{
    transform: scale(1.05);
    font-weight: 600;
}

.section{
    padding: 15px 0;
}

.hide{
    display: none;
}

#sun{
    color: #cccccc;
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 15px;
}

p{
    font-size: 20px;
}

.container{
    background: #ffffff;
    padding: 30px 50px;
    width: 60%;
    box-shadow: 0px 0px 3px #000000;
    margin: 50px auto;
}

.container.dark{
    background: #2c2c2c;
    box-shadow: 0px 0px 5px #ffffff;
}

.container.dark h1{
    color: #cccccc;
}

.container.dark h2{
    color: #cccccc;
}

.container.dark p{
    color: #cccccc;
}

.container.dark a{
    color: #cccccc;
}

.dark-container{
    display: flex;
    justify-content: end;
}

.modo-dark {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modo-dark.dark{
    background: #2c2c2c;
    box-shadow: 0px 0px 5px #ffffff;
}

.modo-dark i{
    color: #000000;
    font-size: 25px;
}

.nome h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    margin-top: -35px;
}



@media screen and (max-width: 500px){

    .container{
        padding: 15px 20px;
        width: 90%;
        margin: 20px auto;
    }

    .modo-dark {
        height: 20px;
        width: 20px;
        margin-top: 20px;
    }
    
    .modo-dark i{
        color: #000000;
        font-size: 20px;
    }
    
    .nome h1{
        font-size: 25px;
        margin-top: -32px;
    }

    h2{
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    p{
        font-size: 15px;
    }
    
}